<h1>My Events</h1>
<div class="card-columns">
  <% @current_user.attends.each do |attend| %>
    <div class="card" style="width: 18rem;">
      <%= image_tag attend.event.image, :class => "card-img-top" %>
        <div class="card-body text-center">
          <%= link_to attend.event.title, event_path(attend.event_id), :class => "card-title" %>
        </div>
    </div>
  <% end %>
</div>

<div class="card mb-3">
  <div class="card-body">
  <div id="calendar">
  </div>
  </div>
</div>
