<h1>All Users</h1>

<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-body">
    <% @users.each do |user| %>
      <p><%= user.email %></p>
    <% end %>
  </div>
</div>
