<h1>My QR Code</h1>

    <% @current_user.attends.each do |attend| %>
      <div class="card text-center">
        <div class="card-header">
          <%= link_to attend.event.title, event_path(attend.event_id) %>
        </div>
        <div class="card-body">
            <% @qr = RQRCode::QRCode.new(attend.provisioning_uri("Events_app"), :size => 10, :level => :h ) %>
            <table class="qr">
              <% @qr.modules.each_index do |x| %>
                  <tr>
                    <% @qr.modules.each_index do |y| %>
                        <% if @qr.dark?(x,y) %>
                            <td class="black"/>
                        <% else %>
                            <td class="white"/>
                        <% end %>
                    <% end %>
                  </tr>
              <% end %>
            </table>
        </div>
    <% end %>
