<h1>All Events</h1>

<% @events.each do |event| %>
  <%= image_tag event.image, :class => 'thumb' if event.image.present? %>
  <ul>
    <li>Title: <%= link_to event.title, event %></li>
    <% if event.date.present? %>
      <li>Date: <%= event.date.strftime '%a, %b %e %y' %></li>
    <% end %>
    <li>Address: <%= event.address %></li>
  </ul>
<% end %>
