<h1>All Locations</h1>
<div class="card-columns">
  <% @locations.each do |location| %>
    <div class="card text-center" style="width: 22rem;">
      <%= cl_image_tag location.image, :class => 'card-img-top' %>
      <div class="card-body">
        <h5 class="card-text"><%= link_to location.name, location %></h5>
      </div>
    </div>
  <% end %>
</div>
